<a href="https://colab.research.google.com/github/raziarasheed/-Password-Generator-Python-Project/blob/main/Copy_of_diamond_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
rows = int(input("enter the number of rows: "))
for i in range(1+rows+1):
  s=rows -i
  print(""*s, "*"*i)

enter the number of rows: 5

 *
 **
 ***
 ****
 *****
 ******

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
rows =int(input("enter the number of rows: "))
for i in range(0,rows):
  s=rows-i

  print(" "*i, "*"*s)

enter the number of rows: 5
 *****
  ****
   ***
    **
     *

In [ ]:
rows = int(input("Enter the number of rows: "))
for i in range(0, rows):
    print("*" * (i + 1))

Enter the number of rows: 5
*
**
***
****
*****

In [ ]:
rows = int(input("Enter the number of rows: "))
for i in range(rows, 0, -1):
    print("*" * i)

Enter the number of rows: 5
*****
****
***
**
*

In [ ]:
rows = int(input("Enter the number of rows (half of diamond height): "))

# Upper half (increasing)
for i in range(1, rows + 1):
    print("*" * i)

# Lower half (decreasing)
for i in range(rows - 1, 0, -1):
    print("*" * i)

Enter the number of rows (half of diamond height): 5
*
**
***
****
*****
****
***
**
*

In [ ]:
rows = int(input("Enter the no of rows:"))
for i in range(1, rows,1):
  print(" "*s,"#"*i)
for i in range(rows, 0, -1):
  print(" "*s,"#"*i)

Enter the no of rows:5
  #
  ##
  ###
  ####
  #####
  ####
  ###
  ##
  #

In [ ]:
rows = int(input("Enter the number of rows (height of diamond): "))

# Upper half (including the middle row)
for i in range(1, rows + 1):
    spaces = " " * (rows - i)
    stars = "*" * (2 * i - 1)
    print(spaces + stars)

# Lower half (below the middle row)
for i in range(rows - 1, 0, -1):
    spaces = " " * (rows - i)
    stars = "*" * (2 * i - 1)
    print(spaces + stars)

Enter the number of rows (height of diamond): 4
   *
  ***
 *****
*******
 *****
  ***
   *